  :root {
    --cols: 6;
    --rows: 1;
    --cell-height: 200px;
    --gap: 4px;
    --container-width: 95%;

  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin:0 ;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
  }

  h1 {
    text-align: center;
  }

  p {
    font-family: "Quicksand", sans-serif;
  }

  body {
    background-color: #edcdad;
  }

  .logo {
    /* makes logo occupy top right of parent div */
  position: absolute;
  top: 0;
  right: 0;
  padding:  10px;
  max-width: 100px;
  height: 100px;
  }

  nav {
    display: flex;
    width: 100%;
  }

  header {
  background-image: url(../Images/headerimg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #edcdad;
  text-shadow: 2px 1px 4px #73492e;
  }
  header h1{
  padding: 30px;
  }

  .mytestbtn {
    flex: 1;
    /* each button grows equally */
    text-align: center;
    padding: 10px 18px;
    background-color: #af7853;
    border-color: #73492e;
    font-size: 16px;
    font-family: "lobster", cursive;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #edcdad;
    text-shadow: 2px 1px 4px #73492e;
  }

  /* Hover effect */
  .mytestbtn:hover {
    background-color: #d4996e;
    border-color: #af7853;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px #000000;
    color: #edcdad;
    text-shadow: 3px 1px 5px #73492e;
  }

  /* Click effect */
  .mytestbtn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px #000000;
  }

  footer {
    border-top: 1px solid #BFBFCF;
    font-size: 12px;
    background-color: #af7853;
    color: #edcdad;
    text-shadow: 2px 1px 4px #73492e;
  }

  footer h1 {
    margin: 10px;
  }

  h2 {
    margin: 1em;
  }

  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
  }

  .epi_card {
    text-align: center;
    justify-content: center;
  }

  .epi_card h3 {
    margin: 15px;
  }

  .epi_card img {
    max-width: 100%;
    height: auto;
    border: 3px solid #73492e;
    box-shadow: 0 2px 5px #73492e;
  }

  #pb_summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 2em;
    border: none;
    border-top: 4px solid #af7853;
  }

  #pb_summary h4, p {
    grid-column: 1/4;
  }

  #pb_summary h4 {
    margin-top: 10px;
  }

  #pb_summary img {
    max-width: 100%;
    height: auto;
    border: 3px solid #73492e;
    box-shadow: 0 2px 5px #73492e;
    justify-self: center;
  }

footer h1, h3 {
  margin: 10px;
}
#socials {
  display: flex;
  justify-content: right;
  margin-top: -45px;
}
#socials img {
  margin: 1em;
  max-width: 50px;
  height: auto;
}

  @media screen and (max-width: 900px) {

    #hero, .home-grid {
      display: block;
      height: auto;
    }

    .logo {
      width: 110%;
    }

    nav, footer {
      flex-direction: column;
    }

    nav a {
      display: block;
      padding: 15px;
    }

    footer {
      margin-top: 25px;
    }
  }

  /* Main container holding both grids */
  .container {
    margin: 50px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width);
    border-radius: 10%;
    padding: 0px var(--side-padding);
  }

  /*the actual grid of items*/
  .grid-container1 {
    display: grid;
    gap: var(--gap);
    padding: var(--gap);
    grid-template-columns: repeat(var(--cols), 1fr);
  }

  .grid-title-text {
    text-align: center;
  }

  /*the items*/
  .grid-item {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    overflow: hidden;
    transition: border-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    background: white;
  }

  /*hover function*/
  .grid-item:hover {
    background-color: #FFFFFF;
    transform: translateY(-1px);
    transform: scale(1.02);
    box-shadow: 0 4px 10px #000000;
  }

  /* Click effect */
  .grid-item:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px #000000;
  }

  /*style for the image of each item*/
  .grid-item img {
    width: 100%;
    height: var(--cell-height);
    object-fit: cover;

  }

  /*content that will be revealed upon clickeing item*/
  .content-section {
    display: none;
    padding: 20px;

  }

  .content-section.active {
    display: block;
  }

  .content {
    height: 600px;
    border: 3px solid #000000;
    width: 50%;
    translate: 50%;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(4, 25%);
  }

  .content p {
    padding: 10px;
  }

  .info {
    grid-column: 1 / 2;
    grid-row: 1/ 4;
    background-color: lightblue;
    padding: 5px;
  }

  .content img {
    grid-column: 2/ 4;
    grid-row: 1/ 4;
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* fill the space without stretching, crops if necessary */
  }